In [2]:
#CREATE A TUPLE

In [3]:
newtuple = ('a','b','c','d','e')
print(newtuple)

('a', 'b', 'c', 'd', 'e')

In [4]:
#when we have create a single char string its necessary to put a comma in between

In [8]:

newtuple1 = ("a",)
print(newtuple1)

('a',)

In [9]:
newtuple1 = ("a")
print(newtuple1)

a

In [10]:
newtuple1 =tuple ()
print(newtuple1)

()

In [12]:
newtuple1 =tuple ('abcde')
print(newtuple1)

('a', 'b', 'c', 'd', 'e')

In [13]:
#TIME .C= O(1)
#SPACE.C =O(n)