# OPERATIONS AND FUNCTIONS

# CONCATENATION (+)

In [15]:
mytuple= (1,2,3,4,5,2)
urtuple = (6,7,8,9,10)

In [5]:
print(mytuple+urtuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
##"*" operator

In [7]:
print(mytuple*4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [10]:
# in

In [12]:
print (4 in mytuple)

True

# METHODS

In [13]:
#COUNT

In [16]:
print(mytuple.count(2))

2

In [17]:
#index

In [18]:
print(mytuple.index(2))

1

# FUNCTIONS

In [19]:
# 1) LEN

In [20]:
print(len(mytuple))

6

In [21]:
# 2) max

In [22]:
print(max(mytuple))

5

In [24]:
#min
print(min(mytuple))

1

In [25]:
#tuple

In [26]:
print(tuple ([1,2,3,4]))

(1, 2, 3, 4)